<h1 style="text-align: center; margin-top: 5%;">Uloguj se</h1>

<form class="admin-se-loguje" action="/admin" method="POST">
    <label for="username"><b>Username:</b></label>
    <input class="admin-placeholder-log p-2" type="text" placeholder="Unesi ime" name="username" required>

    <label for="passsword"><b>Password:</b></label>
    <input class="admin-placeholder-log p-2" type="password" placeholder="Unesi lozinku" name="password" required>

    <input class="admin-log-button border rounded-3" type="submit" value="Login" class="btn">
</form>

<!-- <form action="/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Unesi ime" name="username">

    <label for="passsword"><b>Password</b></label>
    <input type="password" placeholder="Unesi lozinku" name="password">

    <input type="submit" value="Register" class="btn">
</form>  -->