<div class="proizvodiii p-5">
    <h1 class="svi_proizvodi">Svi proizvodi</h1>
    <div class="card-group">
        <div class="card" style="width: 18rem;">
            <img src="/img/klime/gree_pular_12k/1.png" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Gree Pular 12k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">618 &#8364;</span></p>
            <a href="/admin/gree-pular-12k" class="btn btn-primary">Pogledaj</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/klime/gree_clivia_ai_12k/1.jpg" class="card-img-top" alt="air conditioner">
            <div class="card-body">
                <h5 class="card-title">Gree Clivia Ai 12k SA UGRADNJOM</h5>
                <p class="card-text"><span class="cenaa">680 &#8364;</span></p>
                <a href="/admin/gree-clivia-ai-12k" class="btn btn-primary">Pogledaj</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/klime/gree_clivia_ai_12k_black/1.jpg" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Gree Clivia Ai 12k Black SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">745 &#8364;</span></p>
            <a href="/admin/gree-clivia-ai-12k-black" class="btn btn-primary">Pogledaj</a>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card" style="width: 18rem;">
            <img src="/img/klime/gree_amber_pro_12k/1.jpg" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Gree Amber Pro 12k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">768 &#8364;</span></p>
            <a href="/admin/gree-amber-pro-12k" class="btn btn-primary">Pogledaj</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/klime/bergen_kron_smart_12k/1.jpg" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Bergen Kron Smart 12k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">660 &#8364;</span></p>
            <a href="/admin/bergen-kron-smart-12k" class="btn btn-primary">Pogledaj</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/klime/bergen_kron_smart_12k_black/1.jpg" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Bergen Kron Smart 12k Black SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">695 &#8364;</span></p>
            <a href="/admin/bergen-kron-smart-12k-black" class="btn btn-primary">Pogledaj</a>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card" style="width: 18rem;">
            <img src="/img/klime/bergen_apollo_t_12k/1.jpg" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Bergen Apollo T 12k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">499 &#8364;</span></p>
            <a href="/admin/bergen-apollo-t-12k" class="btn btn-primary">Pogledaj</a>
            </div>
        </div>
        <div class="card empty" style="width: 18rem;">
        </div>
        <div class="card empty" style="width: 18rem;">
        </div>
    </div>
</div>