<div class = "card-wrapperrr">
    <div class = "carddd">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "img/klime/gree_pular_12k/1.png" alt = "shoe image">
            <img src = "img/klime/gree_pular_12k/2.png" alt = "shoe image">
            <img src = "img/klime/gree_pular_12k/3.png" alt = "shoe image">
          </div>
        </div>
        <div class = "img-select">
          <div class = "img-item">
            <a href = "#" data-id = "1">
              <img src = "img/klime/gree_pular_12k/1.png" alt = "shoe image">
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "2">
              <img src = "img/klime/gree_pular_12k/2.png" alt = "shoe image">
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "3">
              <img src = "img/klime/gree_pular_12k/3.png" alt = "shoe image">
            </a>
          </div>
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">Gree Pular 12k</h2>
        <a href = "#" class = "product-link">Sa ugradnjom</a>

        <div class = "product-price">
          <p class = "new-price">Cena: <span>618 &#8364;</span></p>
        </div>
        
        <div class = "product-detail">
          <h2>Opis: </h2>
          <p><span class="boooooold">Gree Pular</span> Smart EcoPlus A++ 12k (model GWH12AGB-K6DNA1A) je inverter klima uređaj sa WiFi funkcionalnošću, dizajniran za efikasno grejanje i hlađenje prostora od <span class="boooooold">26 do 35 m²</span>. Ovaj model je popularan zbog svoje energetske efikasnosti i naprednih funkcija.</p>
          <ul>
            <li>Kapacitet klima uređaja: <span>12000 BTU</span></li>
            <li>Kapacitet hlađenja: <span>od 900 do 3600 (3200) W</span></li>
            <li>Kapacitet grejanja: <span>od 900 do 4000 (3400) W</span></li>
            <li>SEER: <span>6,1</span></li>
            <li>SCOP: <span>4,0 (srednja)č 5,10 (topla)</span></li>
            <li>Jačina struje: <span>4,00 A</span></li>
            <li>Gas: <span>R32</span></li>
            <li>Energetska klasa hladjenja: <span>A++</span></li>
            <li>Energetska klasa grejanja: <span>A+ (srednja zona), A+++ (topla zona)</span></li>
            <li>Ulazna snaga hlađenja: <span>od 220 do 1300 (991) W</span></li>
            <li>Ulazna snaga grejanja: <span>od 220 do 1500 (916) W</span></li>
            <li>Područje rada hlađenja: <span>-18 do +43 &#8451;</span></li>
            <li>Područje rada grejanja: <span>-15 do +24 &#8451;</span></li>
            <li>Protok vazduha (max): <span>590&#13221;/h</span></li>
            <li>Nivo buke: <span>UJ 19/29/33/37/41 dB</span></li>
          </ul>
        </div>

        <div class = "purchase-info">
          <a href="/admin/poruci-gree-pular-12k">
            <button type = "button" class = "btnnnnn">
              Poruči <i class = "fas fa-shopping-cart"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
