<div class = "card-wrapperrr">
    <div class = "carddd">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "img/klime/gree_amber_pro_12k/1.jpg" alt = "shoe image">
          </div>
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">Gree Amber Pro 12k</h2>
        <a href = "#" class = "product-link">Sa ugradnjom</a>
  
        <div class = "product-price">
          <p class = "new-price">Cena: <span>769 &#8364;</span></p>
        </div>
        
        <div class = "product-detail">
          <h2>Opis: </h2>
          <p>Otkrijte udobnost bez premca sa Gree Amber Pro 12K WiFi inverter klimom. Dizajnirana da poboljša vaše unutrašnje okruženje, ova napredna jedinica za klimatizaciju <span class="boooooold">kombinuje najsavremeniju tehnologiju sa funkcijama prilagođenim korisniku</span> kako bi osigurala da vaš dom uvek ima idealnu temperaturu.</p>
          <ul>
            <li>Kapacitet klima uređaja: <span>12000 BTU</span></li>
            <li>Kapacitet hlađenja: <span>od 1000 do 3810 (3510) W</span></li>
            <li>Kapacitet grejanja: <span>od 1200 do 4400 (3810) W</span></li>
            <li>SEER: <span>8,5</span></li>
            <li>SCOP: <span>4,4 (srednja)č 5,1 (topla)</span></li>
            <li>Jačina struje: <span> do 4,5 A</span></li>
            <li>Gas: <span>R32</span></li>
            <li>Energetska klasa hladjenja: <span>A++</span></li>
            <li>Energetska klasa grejanja: <span>A+ (srednja zona), A+++ (topla zona)</span></li>
            <li>Ulazna snaga hlađenja: <span>od 100 do 1400 (950) W</span></li>
            <li>Ulazna snaga grejanja: <span>od 220 do 1650 (975) W</span></li>
            <li>Područje rada hlađenja: <span>-15 do +43 &#8451;</span></li>
            <li>Područje rada grejanja: <span>-25 do +24 &#8451;</span></li>
            <li>Protok vazduha (max): <span>680&#13221;/h</span></li>
            <li>Nivo buke: <span>UJ 25/29/37/43 dB</span></li>
          </ul>
        </div>
  
        <div class = "purchase-info">
          <a href="/admin/poruci-amber-pro-12k">
            <button type = "button" class = "btnnnnn">
              Poruči <i class = "fas fa-shopping-cart"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>