<div class = "card-wrapperrr">
  <div class = "carddd">
    <!-- card left -->
    <div class = "product-imgs">
      <div class = "img-display">
        <div class = "img-showcase">
          <img src = "img/klime/gree_clivia_ai_12k/1.jpg" alt = "shoe image">
        </div>
      </div>
    </div>
    <!-- card right -->
    <div class = "product-content">
      <h2 class = "product-title">Gree Clivia Ai 12k</h2>
      <a href = "#" class = "product-link">Sa ugradnjom</a>

      <div class = "product-price">
        <p class = "new-price">Cena: <span>680 &#8364;</span></p>
      </div>
      
      <div class = "product-detail">
        <h2>Opis: </h2>
        <p>Inverter klima Gree Comfort Clivia Al je sistem kontrole klime najnovije generacije koji kombinuje AI tehnologiju sa vrhunskim performansama zahvaljujući svojoj inverterskoj tehnologiji.
          Ovaj model je <span class="boooooold">prvi te vrste koji ima podršku za veštačku inteligenciju</span>, omogućavajući glasovnu kontrolu i integraciju sa Google Assistant-om i Amazon Alexa-om. Uz brojne napredne funkcije kao što su UVC lampa, samočišćenje, antivirusna dezinfekcija, hladna plazma i zdrav filter, značajno smanjuje rizik od zaraznih bolesti, upale bronha i alergijskih reakcija.
          Kombinujući funkcije klimatizacije i odvlaživanja u jednoj jedinici, nudi dodatnu zaštitu i udobnost za korisnika.
          Ventilator sa 7 brzina pruža maksimalnu udobnost i radi tiho, proizvodeći samo 24 dB(A) buke. Njegov moderan dizajn sa mat teksturom i minimalnim razmakom sečiva u režimu mirovanja omogućava besprekornu integraciju u bilo koji prostor.  </p>
        <ul>
          <li>Kapacitet klima uređaja: <span>12000 BTU</span></li>
          <li>Kapacitet hlađenja: <span>od 900 do 4400 (3510) W</span></li>
          <li>Kapacitet grejanja: <span>od 900 do 4000 (3810) W</span></li>
          <li>SEER: <span>7,2</span></li>
          <li>SCOP: <span>4,10 (srednja)č 5,20 (topla)</span></li>
          <li>Jačina struje: <span> do 4,6 A</span></li>
          <li>Gas: <span>R32</span></li>
          <li>Energetska klasa hladjenja: <span>A++</span></li>
          <li>Energetska klasa grejanja: <span>A+ (srednja zona), A+++ (topla zona)</span></li>
          <li>Ulazna snaga hlađenja: <span>od 220 do 1400 (990) W</span></li>
          <li>Ulazna snaga grejanja: <span>od 220 do 1650 (980) W</span></li>
          <li>Područje rada hlađenja: <span>-15 do +50 &#8451;</span></li>
          <li>Područje rada grejanja: <span>-25 do +30 &#8451;</span></li>
          <li>Protok vazduha (max): <span>680&#13221;/h</span></li>
          <li>Nivo buke: <span>UJ 26/33/37/41 dB</span></li>
        </ul>
      </div>

      <div class = "purchase-info">
        <a href="/admin/poruci-gree-clivia-ai-12k">
          <button type = "button" class = "btnnnnn">
            Poruči <i class = "fas fa-shopping-cart"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>