<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a href="https://sr-rs.facebook.com/people/Vuk-Mudrinic/pfbid0MzitsnjbGfM6uaVby47My5g2zNe1MLK9XJmvFNiLe4L4KUDo2CtctVjc47BMyTwBl/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/official_pepe/"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="footerNav">
            <ul>
                <li><a href="/admin/home">Početna</a></li>
                <li><a href="/admin/about">O Neša klime</a></li>
                <li><a href="/admin/katalog">Katalog</a></li>
                <li><a class="izloguj-se p-2 border rounded-3" href="/logout">Izloguj se</a></li>
            </ul>
        </div>
        
    </div>
    <div class="footerBottom">
        <p>&copy; <%= new Date().getFullYear(); %> Neša Klime</p>
    </div>
</footer>