<div class="porucccccci">   
    <div class="poruciiii-formmmaaa">
        <div class="navbaaaaaaar">
            <div class="poruci-naslov rounded">
                <h2>Poruči Gree Clivia Ai 12k Black</h2>
            </div>
        </div>

        <form class="poruciiii-formaaaa" action="/admin/poruci-gree-clivia-ai-12k-black" method="POST">
            <label for="ime"><b>Ime:</b></label>
            <input class="placeholderrrrrrr p-2" type="text" placeholder="Obavezno polje" name="ime" required>

            <label for="prezime"><b>Prezime:</b></label>
            <input class="placeholderrrrrrr p-2" type="text" name="prezime">

            <label for="telefon"><b>Telefon:</b></label>
            <input class="placeholderrrrrrr p-2" type="text" placeholder="Obavezno polje" name="telefon" required>

            <label for="grad"><b>Grad:</b></label>
            <input class="placeholderrrrrrr p-2" type="text" name="grad">

            <label for="mesto"><b>Mesto:</b></label>
            <input class="placeholderrrrrrr p-2" type="text" name="mesto" placeholder="Obavezno polje" required>

            <label for="ulica"><b>Ulica:</b></label>
            <input class="placeholderrrrrrr p-2" type="text" name="ulica">

            <input type="submit" value="Poruči" class="poruci-btnnnnnnnnnnnnnnnnnnn border rounded-3">
        </form>

        <div class="pppooorrruuukkkaaa">
            <p class="porukkkka rounded-4">
                Kontaktiraćemo Vas o potvrdi porudžbine, provere terena, i dogovora termina montaže!
            </p>
        </div>
    </div>
</div>