<header class="header__container raleway">
    <div class="header__content">
        <h1 class="naslovvv">Prodaja <span>i montaža</span> klima uređaja</h1>
            <p class="kosta fs-5 raleway">5 godina garancije na <a class="partnerr" href="https://global.gree.com">Gree</a> i <a class="partnerr" href="https://bergenenergy.net">Bergen</a> uređaje</p>
    </div>
    <div class="header__image">
        <img class="imggg" src="/img/store2.png" alt="header" />
    </div>
</header>

<div class="container marketing raleway">
    <!-- Three columns of text below the carousel --> 
    <div class="row"> 
        <!-- /.row --> <!-- START THE FEATURETTES --> 
        <hr class="featurette-divider"> 
        <div class="row featurette"> 
            <div class="col-md-7 ananas"> 
                <h2 class="featurette-heading fw-normal lh-1 raleway titl">Besplatna dostava, izlazak na teren i konsultacije </h2>
                <ul>
                    <li class="raleway">Preporuka najadekvatnijeg uređaja za Vaš prostor.</li>
                    <li class="raleway">Dogovor oko pozicije klime i datuma montaže.</li>
                </ul>
            </div> 
            <div class="col-md-5 header__imagee"> <img class="img imggg" src="/img/consulting.png"> </div> </div> 
            <hr class="featurette-divider"> <div class="row featurette"> 
                <div class="col-md-7 order-md-2"> 
                    <h2 class="featurette-heading fw-normal lh-1 raleway titl">Kompletan asortiman dostupan je na:</h2>
                    <div class="katalog_2">
                        <a href="/katalog"><button type="button" class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket mb-1 me-1" viewBox="0 0 16 16">
                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5"/>
                          </svg> Katalog</button></a>
                    </div>
                </div> 
                    <div class="col-md-5 order-md-1 header__image"> <img class="img imggg" src="/img/gree_2.png"/> </div> </div> 
                <hr class="featurette-divider"> 
                <div class="row featurette"> 
                    <div class="col-md-7"> 
                        <h2 class="featurette-heading fw-normal lh-1 raleway titl">Za klime većeg kapaciteta pozovite telefonom radi provere o dostupnosti</h2>
                    </div> 
                    <div class="col-md-5 header__imagee"> <img class="img imggg" src="/img/ugradnja.png"/> </div> 
                </div> 
                <hr class="featurette-divider"> <!-- /END THE FEATURETTES -->
</div>

<h2 class="raleway part">Partneri:</h2>
<div class="container px-4" id="featured-3"> <div class="row g-4 py-5 row-cols-1 row-cols-lg-3"> <div class="feature col"> <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
    </div> <img class="mb-3" style="width: 150px" src="/img/gree_logoo.png"/> 
    <a href="https://global.gree.com/" class="icon-link">
    Procitaj vise o Gree <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
      </svg>
    <svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg> </a> </div> <div class="feature col"> <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"> 
         </div> <img class="mb-3" style="width: 200px;" src="/img/bergen_logo.png"/> 
        <a href="https://bergenenergy.net/" class="icon-link">
        Procitaj vise o Bergen <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
          </svg> 
    <svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg> </a> </div> </div> 
</div>

<div>
    <h2 class="reference">Reference: </h2>
    <div id="carouselExampleIndicators" class="carousel slide mb-5">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner imggg">
          <div class="carousel-item active">
            <img src="/img/reference/slika1.jpg" class="d-block w-100" alt="picture of air conditioner installation">
          </div>
          <div class="carousel-item">
            <img src="/img/reference/slika2.jpg" class="d-block w-100" alt="picture of air conditioner installation">
          </div>
          <div class="carousel-item">
            <img src="/img/reference/slika3.jpg" class="d-block w-100" alt="picture of air conditioner installation">
          </div>
          <div class="carousel-item">
            <img src="/img/reference/slika4.jpg" class="d-block w-100" alt="picture of air conditioner installation">
          </div>
          <div class="carousel-item">
            <img src="/img/reference/slika5.jpg" class="d-block w-100" alt="picture of air conditioner installation">
          </div>
          <div class="carousel-item">
            <img src="/img/reference/slika6.jpg" class="d-block w-100" alt="picture of air conditioner installation">
          </div>
          <div class="carousel-item">
            <img src="/img/reference/slika7.jpg" class="d-block w-100" alt="picture of air conditioner installation">
          </div>
          <div class="carousel-item">
            <img src="/img/reference/slika8.jpg" class="d-block w-100" alt="picture of air conditioner installation">
          </div>
          <div class="carousel-item">
            <img src="/img/reference/slika9.jpg" class="d-block w-100" alt="picture of air conditioner installation">
          </div>
          <div class="carousel-item">
            <img src="/img/reference/slika10.jpg" class="d-block w-100" alt="picture of air conditioner installation">
          </div>
          <div class="carousel-item">
            <img src="/img/reference/slika11.jpg" class="d-block w-100" alt="picture of air conditioner installation">
          </div>
          <div class="carousel-item">
            <img src="/img/reference/slika12.jpg" class="d-block w-100" alt="picture of air conditioner installation">
          </div>
          <div class="carousel-item">
            <img src="/img/reference/slika13.jpg" class="d-block w-100" alt="picture of air conditioner installation">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>