<div class = "card-wrapperrr">
    <div class = "carddd">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "img/klime/bergen_kron_smart_12k_black/1.jpg" alt = "shoe image">
          </div>
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">Bergen Kron Smart 12k Black</h2>
        <a href = "#" class = "product-link">Sa ugradnjom</a>
  
        <div class = "product-price">
          <p class = "new-price">Cena: <span>695 &#8364;</span></p>
        </div>
        
        <div class = "product-detail">
          <h2>Opis: </h2>
          <p>Podignite udobnost u zatvorenom prostoru uz Bergen Premium Kron Vhite 12K inverter klima uređaj. Ova <span class="boooooold">najsavremenija jedinica</span> je dizajnirana i za hlađenje i za grejanje, obezbeđujući prijatnu atmosferu u vašem domu tokom cele godine.</p>
          <ul>
            <li>Kapacitet klima uređaja: <span>12000 BTU</span></li>
            <li>Kapacitet hlađenja: <span>od 1000 do 4000 (3510) W</span></li>
            <li>Kapacitet grejanja: <span>od 1200 do 5200 (3810) W</span></li>
            <li>SEER: <span>8,5</span></li>
            <li>SCOP: <span>4,6 (srednja)č 5,5 (topla)</span></li>
            <li>Jačina struje: <span> do 5 A</span></li>
            <li>Gas: <span>R32</span></li>
            <li>Energetska klasa hladjenja: <span>A+++</span></li>
            <li>Energetska klasa grejanja: <span>A++ (srednja zona), A+++ (topla zona)</span></li>
            <li>Ulazna snaga hlađenja: <span>od 300 do 1500 (950) W</span></li>
            <li>Ulazna snaga grejanja: <span>od 500 do 1600 (975) W</span></li>
            <li>Područje rada hlađenja: <span>-20 do +43 &#8451;</span></li>
            <li>Područje rada grejanja: <span>-20 do +24 &#8451;</span></li>
            <li>Protok vazduha (max): <span>650&#13221;/h</span></li>
            <li>Nivo buke: <span>UJ 20/29/33/37/42 dB</span></li>
          </ul>
        </div>
  
        <div class = "purchase-info">
          <a href="/poruci-kron-smart-12k-black">
            <button type = "button" class = "btnnnnn">
              Poruči <i class = "fas fa-shopping-cart"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>