<div class = "card-wrapperrr">
    <div class = "carddd">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "img/klime/bergen_apollo_t_12k/1.jpg" alt = "shoe image">
          </div>
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">Bergen Apollo T 12k</h2>
        <a href = "#" class = "product-link">Sa ugradnjom</a>
  
        <div class = "product-price">
          <p class = "new-price">Cena: <span>499 &#8364;</span></p>
        </div>
        
        <div class = "product-detail">
          <h2>Opis: </h2>
          <p><span class="boooooold">APOLLO</span> T je uređaj visoke energetske efikasnosti, opremljen kvalitetnim komponentama za maksimalnu udobnost. Inverter tehnologija obezbeđuje i do <span class="boooooold">50% uštede na računima</span>, dok funkcija samočišćenja doprinosi <span class="boooooold">zdravijem vazduhu u prostoriji.</span></p>
          <ul>
            <li>Kapacitet klima uređaja: <span>12000 BTU</span></li>
            <li>Kapacitet hlađenja: <span>od 800 do 3600 (3200) W</span></li>
            <li>Kapacitet grejanja: <span>od 800 do 4200 (3400) W</span></li>
            <li>SEER: <span>6,1</span></li>
            <li>SCOP: <span>4,00 (srednja)č 5,1 (topla)</span></li>
            <li>Jačina struje: <span> do 7,10 A</span></li>
            <li>Gas: <span>R32</span></li>
            <li>Energetska klasa hladjenja: <span>A++</span></li>
            <li>Energetska klasa grejanja: <span>A+ (srednja zona), A+++ (topla zona)</span></li>
            <li>Ulazna snaga hlađenja: <span>od 300 do 1600 (990) W</span></li>
            <li>Ulazna snaga grejanja: <span>od 300 do 1600 (920) W</span></li>
            <li>Područje rada hlađenja: <span>-10 do +43 &#8451;</span></li>
            <li>Područje rada grejanja: <span>-15 do +24 &#8451;</span></li>
            <li>Protok vazduha (max): <span>600&#13221;/h</span></li>
            <li>Nivo buke: <span>UJ 19/29/33/37/43 dB</span></li>
          </ul>
        </div>
  
        <div class = "purchase-info">
          <a href="/poruci-apollo-t-12k">
            <button type = "button" class = "btnnnnn rounded-1">
              Poruči <i class = "fas fa-shopping-cart"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>